.title{
	position: relative;
	margin:auto;
	color:white;
	text-align: center;
	top:-290px;
}

.event_list_arrow{
  z-index: 10000;
  position: fixed;
  top: 0px;
	width: 100%;
	height:40px;
	background-color: #00233A;
  opacity: 0;
	text-align:center;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.event_list_arrow.sticky{
  position:fixed;
  top:0px;
}

.event_list_arrow img{
	position: relative;
	z-index: 10000;
	width:auto;
	height:40px;
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

#arrow_pic {
	-webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  	outline: 0;
}

#arrow_pic.active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.event{
  z-index: 0;
  position:relative;
  width:90%;
  height:auto;
  margin: 2% auto;
}

.event_title{
  color:#95989A;
  font-size: 2em;
  display: inline-block;
  margin-left: 2%;
  margin-top: 50px;
}


/*for mobile phone*/
@media screen and (max-width:500px){
	.title{
		font-size: 2em;
		top:-210px;
	}

  .event_title{
    font-size: 1em;
  }
  .event{
    width: 100%;
  }
}

/*For Ipad*/
@media screen and (max-width:800px){
}